<div class="span-16 colborder">
  <h3><%= @title %></h3>
  <p>This will show information on the pages the user selects from the list to the left.</p>

  <div class="span-3 notice">
    <p>Notice &lt;_&lt;</p>
  </div>

  <div class="span-3 error">
    <p>Alert >:-O</p>
  </div>

  <div class="span-3 info">
    <p>Info O_O</p>
  </div>

  <div class="span-3 success last">
    <p>Success! ^_^</p>
  </div>
</div>
<div class="span-7 last">
  <h3>Sites</h3>
  <ul>
    <li><a href="#">nullsix</a></li>
    <li><a href="#">Thoughts of an Eaten Sun</a></li>
    <li><a href="#">Tinder</a></li>
  </ul>
</div>