<div class="row">
  <div class="span12 pagination-centered">
      <h1>Knowledge is...</h1>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>abstract</h3>
    <p>What makes knowledge abstract?<p>
  </div>
  <div class="span4">
    <h3>evolving</h3>
    <p>Do you know what makes knowledge evolve?</p>
  </div>
  <div class="span4">
    <h3>shared</h3>
    <p>Why is it important to share knowledge?</p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>alpha</h3>
    <p>If knowledge is alpha, is it also omega?<p>
  </div>
  <div class="span4">
    <h3>effort</h3>
    <p>What makes knowledge effort? Why must I expend energy?</p>
  </div>
  <div class="span4">
    <h3>meta</h3>
    <p>If knowledge is meta, does that mean there is always knowledge about the knowledge?</p>
  </div>
</div>
