<h1>tinder</h1>
<h3 class="alt push-1">Ignite Creation</h3>
<p class="clear push-1">Tinder is a web application designed for creatives.</p>
<!--<section class="span-16 colborder">
  <h3><%= @title %></h3>
  <p>This will show information on the pages the user selects from the list to the left.</p>

  <div class="span-3 notice">
    <p>Notice &lt;_&lt;</p>
  </div>

  <div class="span-3 error">
    <p>Alert >:-O</p>
  </div>

  <div class="span-3 info">
    <p>Info O_O</p>
  </div>

  <div class="span-3 success last">
    <p>Success! ^_^</p>
  </div>
</section>

<aside class="span-7 last">
  <h3>Sites</h3>
  <ul>
    <li><%= link_to "nullsix", "#" %></li>
    <li><%= link_to "Thoughts of an Eaten Sun", "#" %></li>
    <li><%= link_to "Tinder", "#" %></li>
  </ul>
</aside>-->
