/* Global Styles */

body {
  background-color: #10294d;
  color: #ffffff;
}

/* Header Styles */

header {
}

header nav ul {
  margin-left:0px;
  width:160px;
  font-size:225%;
  list-style-type:none;
  text-align:right;
}

/* Content Styles */

section {
  margin-top: 220px;
}

/* Footer Styles */

section quote {
  #color: #45618A;
  color: #265496;
  font-size: 3em;
  line-height: 2em;
}

section quote .bold {
  #color: #0075FF;
  #color: #B0F37C;
  color: #7cb7d5;
  font-size: 160%;
}

section quote .bolder {
  #color: #8FDC35;
  #color: #8AF32E;
  color: #c5eafd;
  font-size: 300%;
  vertical-align: text-top;
}
