$white: #ffffff;
$brightPink: #FF4598;
$brightBlue: #3B93FF;

$darkBlue: #10294d;
$logoGreen: #8af32e;

// Default color overrides
$bodyBackground: $darkBlue;
$textColor: $white;
$linkColor: $logoGreen;

@import "bootstrap";
@import "bootstrap-responsive";

/* Don't want the page to collapse more than this width */
.row {
  min-width:310px;
}

footer {
  margin-top: 60px;
  text-align: center;
}

// Large desktop
@media (min-width: 1200px) {
}

// Normal desktop
@media (min-width: 980px) and (max-width: 1199px) {
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
}

// Landscape phone to portrait tablet
@media (max-width: 767px) {
}
  
// Landscape phones and down
@media (max-width: 480px) {
}
