$white: #ffffff;
$brightPink: #FF4598;
$brightBlue: #3B93FF;

$darkBlue: #10294d;
$logoGreen: #8af32e;

// Default color overrides
$bodyBackground: $darkBlue;
$textColor: $white;
$linkColor: $logoGreen;

@import "bootstrap";
@import "bootstrap-responsive";

.logo-color { color: $logoGreen; }

/* Don't want the page to collapse more than this width. */
.row {
  min-width:310px;
}

header {
  margin-top: 10px;

  h1 {
    font-family: 'Average Sans', sans-serif;
    /* nullsix link should always have same style. */
    a, a:hover, a:visited, a:active {
      @extend .logo-color;
      text-decoration: none;
      color: $logoGreen;
    }
  }
}

footer {
  margin-top: 60px;
  text-align: center;
}

.project p { margin-left: 20px; }

  .pink-head h2 {
    color: $brightPink;
    border-bottom: 5px solid lighten($brightPink, 10%);
  }

  .blue-head h2 {
    color: $brightBlue;
    border-bottom: 5px solid lighten($brightBlue, 10%);
  }

  .green-head h2 {
    color: $logoGreen;
    border-bottom: 5px solid lighten($logoGreen, 10%);
  }

.definitions {
  div p { margin-left: 20px; }
}

.section { margin-bottom: 70px; }

//
// Large desktop
//
@media (min-width: 1200px) {
  p { font-size: 1.2em; }

  h1 { font-size: 5em; }

  header {
    img {
      width: 65px;
      margin-right: 35px;
    }

    h1 { margin-top: 40px; }
  }

  #who-am-i p { font-size: 1.5em; }

  #knowledge, #who-am-i, #projects {
    h1 { line-height: 70px; }
  }

  /* First definition after knowledge. */
  #knowledge + .definitions {
    margin-bottom: 30px;
  }

  .section { margin-bottom: 60px; }
}

//
// Normal desktop
//
@media (min-width: 980px) and (max-width: 1199px) {
  p { font-size: 1.2em; }

  h1 { font-size: 4em; }

  header {
    img {
      width: 55px;
      margin-right: 25px;
    }

    h1 { margin-top: 30px; }
  }

  #who-am-i p { font-size: 1.5em; }

  #knowledge, #who-am-i, #projects {
    h1 { line-height: 50px; }
  }

  /* First definition after knowledge. */
  #knowledge + .definitions {
    margin-bottom: 30px;
  }

  .section { margin-bottom: 50px; }
}

//
// Portrait tablet to landscape and desktop
//
@media (min-width: 768px) and (max-width: 979px) {
  p { font-size: 1em; }

  h1 { font-size: 3em; }

  header {
    img {
      width: 40px;
      margin-right: 20px;
    }

    h1 { margin-top: 17px; }
  }

  #who-am-i p { font-size: 1.2em; }

  #knowledge, #who-am-i, #projects {
    h1 { line-height: 35px; }
  }

  /* First definition after knowledge. */
  #knowledge + .definitions {
    margin-bottom: 30px;
  }

  .section { margin-bottom: 40px; }
}

//
// Landscape phone to portrait tablet
//
@media (max-width: 767px) {
  h1 { font-size: 3em; }
  h2 { font-size: 2em; }

  header {
    img {
      width: 40px;
      margin-right: 20px;
    }

    h1 {
      /* For some reason, we have to use padding here instead of margin or else the image moves down by the size of the margin. */
      margin: 0px;
      padding: 17px 0px 10px 0px;
    }
  }

  /* First definition after knowledge. */
  #knowledge + .definitions {
    margin-bottom: 30px;
  }

  .span3 h2 {
    max-width: 150px;
  }

  .section { margin-bottom: 30px; }
}
  
//
// Landscape phones and down
//
@media (max-width: 480px) {
  h1 { font-size: 2.5em; }
  h2 { font-size: 2em; }

  header {
    img {
      width: 40px;
      margin-right: 20px;
    }

    h1 {
      font-size: 3em;
      margin: 0px;
      padding: 17px 0px 10px 0px;
    }
  }

  .section { margin-bottom: 20px; }
}
