<div class="span3">
  <header>
  <%= link_to image_tag("/images/nullsixlogo2.png", style:"max-width:100%"), "http://nullsix.com" %>
  <!-- TODO: Need to make a clickable nullsix link! -->
  </header>
</div>
