  <header class="span-24 last">
    <h1 class="span-4 nullsix"><%= link_to "nullsix", "http://nullsix.com" %></h1>
    <nav class="span-4 push-15 last">
      <ul>
        <li>
          <%= link_to "Home", "#" %>
        </li>
        <li>
          <%= link_to "Contact", "#" %>
        </li>
        <li>
          <%= link_to "About", "#" %>
        </li>
      </ul>
    </nav>

    <h3 class="span-24 alt last">And the quest is knowledge.</h3>
  </header>