<header>
  <div class="row">
    <div class="span12">
      <%= link_to image_tag("/images/nullsix-logo.png"), "http://nullsix.com", class: "pull-left" %>
      <h1><%= link_to "nullsix", "http://nullsix.com" %></h1>
    </div>
  </div>
</header>
