  <header class="span-7">
    <!-- TODO: Need to make a clickable nullsix link! -->
    <nav>
      <ul>
        <li>tinder</li>
        <li>patchwork</li>
        <li>steamboat</li>
        <li>smokestack</li>
        <li>thumbscrew</li>
        <!--<li>thoughts of an<br />eaten sun</li>-->
        <li>?</li>
      </ul>
    </nav>


    <!--<nav class="span-4 push-15 last">
      <ul>
        <li>
          <%= link_to "Home", "/" %>
        </li>
        <li>
          <%= link_to "Contact", contact_path %>
        </li>
        <li>
          <%= link_to "About", "#" %>
        </li>
      </ul>
    </nav>-->
  </header>
